<p>slider</p>
<div class="slider">
    <img id="img-1" src="../../Static/Images/london.jpg" alt="London" />
    <img id="img-2" src="../../Static/Images/ny.jpg" alt="New York" />
    <img id="img-3" src="../../Static/Images/spb.jpg" alt="St. Petersburg" />
</div>
<div id="Arrows">
    <div class="arrow" id="left-arrow" onclick="previousSlide()">Prev</div>
    <div class="arrow" id="right-arrow" onclick="nextSlide()">Next</div>
</div>
<div class="navigation-button">
    <span class="dot active" onclick="changeSlide(0)"></span>
    <span class="dot" onclick="changeSlide(1)"></span>
    <span class="dot" onclick="changeSlide(2)"></span>
</div>